.App {
  display: flex;
  background-color: rgb(10, 10, 10);
  color: white;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.userForm input, button {
  min-width: 50%;
  max-width: 500px;
  padding: 0;
  margin: 2em 0;
  font-size: 1.5em;
}

.errorText {
  color: red;
  font-size: 1.5em;
}

.forecastTable {
  font-size: 1.5em;
  min-width: 70vw;
}

.forecastTable tr {
  height: 50px;
}

.forecastTable td {
  width: 33%;
}
